<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="Utils.TestNGListener"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="/Users/cb-it-01-1727/com.openmrs">
        <classes>
            <class name="tests.OpenmrsTest">
                <methods>
                    <include name="filterProductSearch"/>
                    <include name="productSearch"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>